# ==========================================
# APPLICATION
# ==========================================

NEXT_PUBLIC_APP_NAME=Netflix Clone
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# ==========================================
# DATABASE
# ==========================================

DATABASE_URL="your-database-url"

# ==========================================
# AUTH
# ==========================================

AUTH_URL=http://localhost:3000
AUTH_SECRET=your-auth-secret
AUTH_TRUST_HOST=true

# ==========================================
# OAUTH
# ==========================================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# ==========================================
# CLOUDINARY
# ==========================================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==========================================
# EMAIL
# ==========================================

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=