* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text

*.mp4 binary
*.webm binary
*.m3u8 text
*.ts binary

*.woff binary
*.woff2 binary