.contentArea {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 0;

    gap: 1.5rem;

    padding: 1.5rem;

    flex: 1;
}

.fluid {
    max-width: 100%;
}

@media (max-width: 1024px) {
    .contentArea {
        padding: 1.25rem;
        gap: 1.25rem;
    }
}

@media (max-width: 768px) {
    .contentArea {
        padding: 1rem;
        gap: 1rem;
    }
}