.footer {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 100%;

    padding: 1rem 1.5rem;

    border-top: 1px solid #2a2a2a;

    background-color: #181818;
}

@media (max-width: 1024px) {
    .footer {
        padding: 1rem;
    }
}